<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/products.css" />
  </head>
  <body>
    <%-include('../../shared/includes/header')%>
    <main id="product-details">
      <header>
        <img src="<%=product.imageUrl%>" alt="<%=product.title%>" />
        <div id="product-info">
          <h1><%=product.title%></h1>
          <p>$<%=product.price%></p>
          <button class="btn" data-productid="<%=product.id%>" data-csrf="<%=locals.csrfToken%>">Add to cart</button>
        </div>
      </header>
      <p id="product-description"><%=product.description%></p>
    </main>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/cart-management.js"></script>


  </body>
</html>
